apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: newt
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://charts.fossorial.io
    chart: newt
    targetRevision: "1.1.0"
    helm:
      valuesObject:
        global:
          image:
            tag: "1.9.0"
        newtInstances:
          - name: homelab-k8s
            auth:
              existingSecretName: newt-credentials
              keys:
                endpointKey: PANGOLIN_ENDPOINT
                idKey: NEWT_ID
                secretKey: NEWT_SECRET
            service:
              enabled: false
  destination:
    server: https://kubernetes.default.svc
    namespace: pangolin
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - SkipDryRunOnMissingResource=true
