repos:
  - repo: local
    hooks:
      - id: encrypt-sops-files
        name: check and encrypt unencrypted files
        description: checks and encrypts files containing unencrypted data
        entry: encrypt-sops-files.sh
        language: script
        types: [file]
        files: (secret\.yaml|\.sops\.(env|json))$

  - repo: https://github.com/onedr0p/sops-pre-commit
    rev: v2.1.1
    hooks:
      - id: forbid-secrets
        exclude: |
          (?x)^(
            kubernetes\/apps\/base\/argocd\/argocd-hr.yaml
            )$

