apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-prometheus-stack
  namespace: argocd
  annotations:
    argocd.argoproj.io/sync-wave: "1"
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: "81.x"
    helm:
      valuesObject:
        prometheus:
          prometheusSpec:
            retention: 3d
            retentionSize: 15GB
            storageSpec:
              volumeClaimTemplate:
                spec:
                  storageClassName: ceph-block
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 20Gi
            externalLabels:
              cluster: minipcs
              environment: homelab
            serviceMonitorSelectorNilUsesHelmValues: false
            podMonitorSelectorNilUsesHelmValues: false
            ruleSelectorNilUsesHelmValues: false
            resources:
              requests:
                cpu: 500m
                memory: 2Gi
              limits:
                memory: 4Gi
            thanos:
              objectStorageConfig:
                name: thanos-objstore-secret
                key: objstore.yml
          thanosService:
            enabled: true
          thanosServiceMonitor:
            enabled: true
        grafana:
          ingress:
            enabled: true
            ingressClassName: nginx
            hosts:
              - grafana.sharmamohit.com
          sidecar:
            datasources:
              defaultDatasourceEnabled: false
            dashboards:
              enabled: true
              searchNamespace: monitoring
          additionalDataSources:
            - name: Thanos
              type: prometheus
              uid: thanos
              url: http://thanos-query.monitoring.svc:9090
              access: proxy
              isDefault: true
            - name: Loki
              type: loki
              uid: loki
              url: http://loki.monitoring.svc:3100
              access: proxy
              jsonData:
                httpHeaderName1: "X-Scope-OrgID"
                derivedFields:
                  - datasourceUid: tempo
                    matcherRegex: "(?:traceID|trace_id|traceid)=(\\w+)"
                    name: TraceID
                    url: "${__value.raw}"
              secureJsonData:
                httpHeaderValue1: "homelab"
            - name: Tempo
              type: tempo
              uid: tempo
              url: http://tempo.monitoring.svc:3100
              access: proxy
              jsonData:
                tracesToLogs:
                  datasourceUid: loki
                  filterByTraceID: true
          persistence:
            enabled: true
            storageClassName: ceph-block
            size: 2Gi
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              memory: 512Mi
        alertmanager:
          alertmanagerSpec:
            retention: 120h
            storage:
              volumeClaimTemplate:
                spec:
                  storageClassName: ceph-block
                  accessModes:
                    - ReadWriteOnce
                  resources:
                    requests:
                      storage: 1Gi
            resources:
              requests:
                cpu: 100m
                memory: 128Mi
              limits:
                memory: 256Mi
        nodeExporter:
          enabled: true
        prometheus-node-exporter:
          resources:
            requests:
              cpu: 50m
              memory: 64Mi
            limits:
              memory: 128Mi
        kubeStateMetrics:
          enabled: true
        kube-state-metrics:
          resources:
            requests:
              cpu: 50m
              memory: 128Mi
            limits:
              memory: 256Mi
  # ArgoCD v2.14 doesn't recognize .status.terminatingReplicas added in K8s 1.31+
  # Remove once ArgoCD is upgraded to a version with updated schemas
  ignoreDifferences:
    - group: apps
      kind: DaemonSet
      jqPathExpressions:
        - .status.terminatingReplicas
    - group: apps
      kind: StatefulSet
      jqPathExpressions:
        - .status.terminatingReplicas
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
      - RespectIgnoreDifferences=true
