services:
  mongo:
    image: mongo:3.6
    container_name: unifi_mongo
    restart: always
    security_opt:
      - no-new-privileges:true
    networks:
      - unifi
    volumes:
      - ./mongodb-data:/data/db
      - ./mongodb-cfg:/data/configdb

  controller:
    image: jacobalberty/unifi:v9.4.19
    container_name: unifi_controller
    restart: always
    init: true
    depends_on:
      - mongo
    networks:
      - unifi
      - traefik_proxy
    dns:
      - 9.9.9.9
    sysctls:
      net.ipv4.ip_unprivileged_port_start: 0
    environment:
      - DB_URI=mongodb://mongo/unifi
      - STATDB_URI=mongodb://mongo/unifi_stat
      - DB_NAME=unifi
      - LOTSOFDEVICES=1
    ports:
      - "3478:3478/udp"
      - "6789:6789/tcp"
      - "8080:8080/tcp"
      - "8443:8443/tcp"
      - "8880:8880/tcp"
      - "8843:8843/tcp"
      - "10001:10001/udp"
    volumes:
      - ./unifi-dir:/unifi
      - ./unifi-data:/unifi/data
      - ./unifi-log:/unifi/log
      - ./unifi-cert:/unifi/cert
      - ./unifi-init:/unifi/init.d
      - ./unifi-run:/var/run/unifi
      - ./unifi-backup:/unifi/data/backup
    labels:
      - traefik.enable=true
      - traefik.http.routers.unifi.entrypoints=http
      - traefik.http.routers.unifi.rule=Host(`unifi.sharmamohit.com`)
      - traefik.http.routers.unifi-secure.entrypoints=https
      - traefik.http.routers.unifi-secure.rule=Host(`unifi.sharmamohit.com`)
      - traefik.http.routers.unifi-secure.tls=true
      - traefik.http.routers.unifi-secure.tls.certresolver=http
      - traefik.http.routers.unifi-secure.service=unifi
      - traefik.http.services.unifi.loadbalancer.server.port=8443
      - traefik.docker.network=traefik_proxy
      - traefik.http.services.unifi.loadbalancer.server.scheme=https

  logs:
    image: bash
    container_name: unifi_logs
    restart: always
    depends_on:
      - controller
    dns:
      - 9.9.9.9
    command: bash -c 'tail -F /unifi/log/*.log'
    volumes:
      - ./unifi-log:/unifi/log

networks:
  unifi:
  traefik_proxy:
    external: true
