---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: rook-ceph-cluster
  namespace: rook-ceph
spec:
  interval: 30m
  chart:
    spec:
      chart: rook-ceph-cluster
      version: "1.19.x"
      sourceRef:
        kind: HelmRepository
        name: rook-release
        namespace: flux-system
      interval: 12h
  timeout: 10m
  install:
    remediation:
      retries: 3
    crds: CreateReplace
  upgrade:
    remediation:
      retries: -1 # keep trying to remediate
    crds: CreateReplace # Upgrade CRDs on package update
  releaseName: rook-ceph-cluster
  values:
    toolbox:
      enabled: true
    monitoring:
      enabled: false
      createPrometheusRules: false
    cephClusterSpec:
      storage:
        useAllNodes: true
        useAllDevices: true
    cephObjectStores:
      - name: ceph-objectstore
        spec:
          metadataPool:
            failureDomain: host
            replicated:
              size: 3
          dataPool:
            failureDomain: host
            erasureCoded:
              dataChunks: 2
              codingChunks: 1
            parameters:
              bulk: "true"
              pg_num: "64"
          preservePoolsOnDelete: true
          gateway:
            port: 80
            instances: 1
            priorityClassName: system-cluster-critical
            resources:
              requests:
                cpu: "1"
                memory: 1Gi
              limits:
                memory: 2Gi
        storageClass:
          enabled: true
          name: ceph-bucket
          reclaimPolicy: Delete
          parameters:
            region: ca-west-1
    ingress:
      dashboard:
        ingressClassName: nginx
        annotations:
          nginx.ingress.kubernetes.io/ssl-redirect: "true"
          nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
          nginx.ingress.kubernetes.io/ssl-passthrough: "true"
        host:
          name: rook-ceph.sharmamohit.com
          path: "/"
