---
apiVersion: ceph.rook.io/v1
kind: CephObjectStore
metadata:
  name: ceph-objectstore
  namespace: rook-ceph
spec:
  metadataPool:
    failureDomain: host
    replicated:
      size: 3
  dataPool:
    failureDomain: host
    erasureCoded:
      dataChunks: 2
      codingChunks: 1
    parameters:
      bulk: "true"
      pg_num: "64"
  preservePoolsOnDelete: true
  gateway:
    port: 80
    instances: 1
    priorityClassName: system-cluster-critical
    resources:
      requests:
        cpu: "1"
        memory: 1Gi
      limits:
        memory: 2Gi
---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ceph-bucket
provisioner: rook-ceph.ceph.rook.io/bucket
parameters:
  objectStoreName: ceph-objectstore
  objectStoreNamespace: rook-ceph
  region: ca-west-1
reclaimPolicy: Delete
volumeBindingMode: Immediate
