[[stack]]
name = "traefik"
description = "Traefik reverse proxy"
tags = ["infrastructure", "server04"]
[stack.config]
server_id = "server04"
file_paths = ["docker/stacks/server04/traefik/compose.yaml"]
repo = "mohitsharma44/homeops"
branch = "main"
[stack.config.pre_deploy]
path = "docker/stacks/server04/traefik"
command = "sops-decrypt.sh"

[[stack]]
name = "vaultwarden"
description = "Vaultwarden password manager"
tags = ["security", "server04"]
[stack.config]
server_id = "server04"
file_paths = ["docker/stacks/server04/vaultwarden/compose.yaml"]
repo = "mohitsharma44/homeops"
branch = "main"
environment = """
VAULTWARDEN_URL=bitwarden.sharmamohit.com
"""
[stack.config.pre_deploy]
path = "docker/stacks/server04/vaultwarden"
command = "sops-decrypt.sh"
