{
  "port": "8282",
  "log_level": "info",
  "download_folder": "/mnt/symlinks",
  "default_download_action": "symlink",
  "debrids": [
    {
      "provider": "realdebrid",
      "name": "realdebrid",
      "api_key": "{{ vault_rd_api_key }}",
      "folder": "/mnt/debrid/__all__/",
      "download_uncached": true,
      "rate_limit": "250/minute"
    }
  ],
  "mount": {
    "type": "rclone",
    "mount_path": "/mnt/debrid",
    "rclone": {
      "vfs_read_ahead": "256M",
      "vfs_cache_mode": "full",
      "vfs_cache_max_size": "50G",
      "vfs_cache_max_age": "24h",
      "buffer_size": "64M",
      "read_chunk_size": "64M"
    }
  },
  "qbittorrent": {
    "port": "8282"
  },
  "arrs": [
    {
      "name": "radarr",
      "host": "http://radarr:7878",
      "token": "{{ vault_radarr_api_key }}"
    },
    {
      "name": "sonarr",
      "host": "http://sonarr:8989",
      "token": "{{ vault_sonarr_api_key }}"
    }
  ]
}
