PROMETHEUS_URL=https://prometheus.sharmamohit.com/api/v1/write
LOKI_URL=https://loki.sharmamohit.com/loki/api/v1/push
BASIC_AUTH_USERNAME={{ vault_alloy_basic_auth_username }}
BASIC_AUTH_PASSWORD={{ vault_alloy_basic_auth_password }}
