services:
  pangolin-cli:
    image: fosrl/pangolin-cli:0.3.3
    container_name: pangolin-client-obs
    restart: unless-stopped
    network_mode: host
    cap_add:
      - NET_ADMIN
    devices:
      - /dev/net/tun:/dev/net/tun
    env_file:
      - .env
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
